#container{
  border: 2px solid grey;
  width: 360px;
  margin: 100px auto;
  background-color: #f7f7f7;
  box-shadow:  0 0 3px rgba(0,0,0, .5);

}

.fa-cogs{
  float: right;
}


#liSpan{
  background-color: orange;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  display: inline-block;
  width: 0px;
  transition: 0.25 linear;
  opacity: 0;
  transition: 0.1s linear;
}

h1{
  background-color: lime;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

input{
  font-size: 18px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 10px 10px 10px 15px;
  box-sizing: border-box;
  color: lime;
  border: 3px solid rgba(0,0,0,0);
}

input:focus{
  background: white;
  border: 3px solid lime;
}

body{
  font-family: fantasy;
  background: #DD5E89;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  background-color: white;
  height: 40px;
  line-height: 40px;
  color: #666;
}

li:nth-child(2n){
  background-color: #f7f7f7;
}

li:hover #liSpan{
  width: 40px;
  opacity: 1;
}

.completed{
  text-decoration: line-through;
}
